.feature {
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  height: 300px;
  width: 300px;
  padding: 1rem 0.25rem;
  background-color: #232236;
  border-radius: 20px;
}

.main {
  align-items: center;
}

.lyrics {
  font-family: Abel;
  padding: 1rem 0.25rem 0 ;
  font-size: 0.85rem;
}

.title,
.subtitle {
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
}

.circle1, .circle2, .circle3 {
  pointer-events: none;
}

.circle1 {
  background-color: #763FBC;
  position: absolute;
  padding: 15vmin;
  opacity: 0.1;
  border-radius: 100%;
  z-index: -1;
  top: 2.5vh;
  right: 30vw;
  transition: ease 2s;
}

.circle2 {
  background-color: #DE278A;
  position: absolute;
  padding: 25vmin;
  opacity: 0.1;
  border-radius: 100%;
  z-index: -1;
  left: 2rem;
  top: 15vh;
  transition: ease 2s;
}

.circle3 {
  position: absolute;
  bottom: 5vh;
  right: 15vw;
  padding: 25vmin;
  overflow: hidden;
}

.circle3::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  background-color: #D66853;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  border-radius: 100%;
  z-index: -1;
  transition: ease 4s;
}

@media (min-width: 650px) {
  .main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .feature {
    flex: 0 0 40%;
  }
}

@media (min-width: 1250px) {
  .main {
    justify-content: space-between;
  }

  .feature {
    flex: 0 0 300px;
  }
}